
body
{	
	/*
	background-image: url("../img/arcade2.png");
	background-repeat: no-repeat;
	background-size: 100vw;
	background-color: black;
	*/
}

#Window
{
	background-color:black;
	/*
	display: block;
	margin: auto;
	margin-top: 10vh;
	*/
}